<!DOCTYPE html>
<html> 
  <head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <link rel="shortcut icon" type="image/png" href="img/favicon.png">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,300i,700">
    <title>Natours | Natours | Exciting tours for adventurous people</title>
  </head>
  <body> 
    <!--header-->
    <header class="header"> 
      <nav class="nav nav--tours"> <a class="nav_el" href="#">All tours</a></nav>
      <div class="header_logo">   <img src="img/logo-white.png" alt="Natours logo"></div>
      <nav class="nav nav--user"> 
        <button class="nav_el">Log in </button>
        <button class="nav_el nav_el--cta">Sign up</button>
      </nav>
    </header>
    <!--Content-->
    <section class="overview"> 
      <h1></h1>
    </section>
    <!--Footer-->
    <footer class="footer">
      <div class="footer_logo"> <img src="img/logo-green.png" alt="Natour logo"></div>
      <ul class="footer_nav"> 
        <li><a href="#">About us </a></li>
        <li><a href="#">Download apps</a></li>
        <li><a href="#">Become a guide</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact </a></li>
      </ul>
      <p class="footer_copyright">&copy: by salma. Feel free to use this project for your pwn purposes, Except producing own course or tutorial!</p>
    </footer>
  </body>
</html>