html(lang="en")
  head
    block head
      meta(charset="UTF-8")
      //- meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="/css/style.css")
      link(rel="shortcut icon", type="image/png", href="/img/forest.png")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap")
      title Tours | #{title}
      
  body(data-alert=`${alert ? alert : ''}`)
      // HEADER
      include _header

      // CONTENT
      block content
        h1 This is a placeholder heading

      // FOOTER
      include _footer

      // SCRIPTS
      script(src="https://js.stripe.com/v3/")
      script(src="/js/bundle.js")