extends base

block content
  .login-container
    .login-form
      h2.login-form__title Welcome Back!
      p.login-form__subtitle Please log in to your account
      form.form.form--login
        .form__group
          label.form__label(for="email") Email Address
          input.form__input(type="email", id="email", placeholder="Enter your email", required)
        .form__group
          label.form__label(for="password") Password
          input.form__input(type="password", id="password", placeholder="Enter your password", required)
        .form__group
          button.btn.btn--green(type="submit") Log In
      .login-form__footer
        p Don't have an account? 
          a(href="/signup") Sign Up